@import "tailwindcss";

@font-face {
    font-family: 'Jomhuria';
    src: url('../../content/fonts/Jomhuria-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Libre Bodoni';
    src: url('../../content/fonts/LibreBodoni-Italic.woff2') format('woff2');
    font-weight: 400 700;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Libre Bodoni';
    src: url('../../content/fonts/LibreBodoni-Regular.woff2') format('woff2');
    font-weight: 400 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Onest';
    src: url("../../content/fonts/Onest-Thin.woff2") format('woff2');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Onest';
    src: url("../../content/fonts/Onest-ExtraLight.woff2") format('woff2');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Onest';
    src: url("../../content/fonts/Onest-Regular.woff2") format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Onest';
    src: url("../../content/fonts/Onest-Medium.woff2") format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Onest';
    src: url("../../content/fonts/Onest-SemiBold.woff2") format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}



@theme {
    --font-Onest: "Onest", ui-sans-serif, system-ui, sans-serif;
    --font-Libre: "Libre Bodoni", Georgia, serif;
    --font-Jomhuria: "Jomhuria", ui-sans-serif, sans-serif;
}

@layer base {
    body {
        display: flex;
        flex-direction: column;
        min-height: 100dvh;
        box-sizing: border-box;
        font-family: 'Onest', serif;
        color: #1C3241;
        font-size: 16px;
        font-weight: 100;
        margin: 0;
        padding: 0;
        line-height: 1.5;
    }
}

p {
    font-family: 'Onest', serif;
}

h3 {
    line-height: 1.6;
}

.color-cards {
    display: flex;
    flex-direction: column;
    align-items: start;
    border-radius: 0.5rem;
    padding: 1.25rem;
    color: white;

    @media (min-width: 1024px) {
        align-items: center;
        border-top-left-radius: 1.5rem;
        border-top-right-radius: 1.5rem;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
}

.employment-cards {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 100%;
    border-radius: 1.5rem;
    border: 1px solid rgb(28, 50, 65, 0.12);
    padding: 1.25rem;

    @media (min-width: 1024px) {
        padding: 1.875rem;
    }
}

.employment-cards p {
    font-size: 0.875rem;
    font-weight: 300;
    color: rgb(28, 50, 65);
    line-height: 1.25rem;
    margin-bottom: 1.5rem;
    border-top: 1px solid rgb(28, 50, 65, 0.12);
    padding-top: 16px;
}

.questions p {
    font-family: 'Onest', sans-serif;
    font-size: 0.875rem;
    color: rgb(28, 50, 65, 0.8);
    line-height: 1.5;

    @media (min-width: 1024px) {
        width: 85%;
    }
}

.questions span {
    font-weight: 400;

    @media (min-width: 1024px) {
        font-size: 1.25rem;
        line-height: 2rem;
        font-weight: 500;
    }
}

.accordion {
    interpolate-size: allow-keywords;
}

.accordion::details-content {
    block-size: 0;
    overflow: hidden;
    transition: block-size .3s ease, content-visibility .3s ease allow-discrete;
}

.accordion[open]::details-content {
    block-size: auto;
}

.services-list li p {
    font-weight: 300;
    font-size: 0.875rem;
    color: rgb(28, 50, 65, 0.6);

}

.services-list li h3 {
    font-weight: 500;
    font-size: 1.25rem;
}

.services-list li {
    display: flex;
    flex-direction: column;
    row-gap: 0.75rem;
}

.card-fade {
    transition: opacity 300ms ease, display 300ms allow-discrete;

    @starting-style {
        opacity: 0;
    }
}

.color-cards span {
    font-family: 'Jomhuria', Georgia, serif;
    font-size: 5rem;
    font-weight: 200;
    line-height: 60px;
}

.color-cards div h3 {
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.6;

    @media (min-width: 1024px) {
        text-align: center;
    }
}

.color-cards div p {
    font-weight: 200;
    font-size: 0.875rem;
    color: rgb(248, 248, 248, 0.8);
    line-height: 1.5;

    @media (min-width: 1024px) {
        text-align: center;
    }
}

.label {
    font-family: 'Onest', sans-serif;
    font-size: 0.875rem;
    color: rgb(28, 50, 65, 0.6);
}

.value {
    font-family: 'Onest', sans-serif;
    font-size: 1rem;
    color: #1C3241;
    font-weight: var(--font-weight-medium);

    @media (min-width: 1024px) {
        font-size: 1.25rem;
        line-height: 1.6;
    }
}

input[type="radio"] {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

input[type="radio"] + label {
    position: relative;
    padding-left: 30px;
    cursor: pointer;
}

input[type="radio"] + label::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    border: 2px solid #ffffff;
    border-radius: 50%;
}

input[type="radio"]:checked + label::before {
    box-shadow: inset 0 0 0 3px #0A9A5C;
    background-color: #ffffff;
}

.rts-dec-image {
    display: block;
    width: 304px;
    height: 152px;
    flex-shrink: 0;
    background-image: url('../../content/desktop-images/woman.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-height: 100%;
    max-width: 100%;
}
